# pixi environments
.pixi
.DS_Store

*.code-workspace

**/__pycache__/
**/*.pyc

# projects
**/docs/
projects/**/output/

# pluto build artifacts
*.o
*.npz
*.dbl
*.vtk
*.out
**/pluto/build/

**/alfven/*.png
**/alfven/*.gif